coding node-red.txt
[{"id":"9937abf261414bf1","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1a943ef85ff69d54","type":"mqtt out","z":"9937abf261414bf1","name":"mqtt lock","topic":"esp32/lock","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":500,"y":180,"wires":[]},{"id":"a7f3f1d5844b6da7","type":"ui_switch","z":"9937abf261414bf1","name":"","label":"control lock","tooltip":"","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":270,"y":180,"wires":[["1a943ef85ff69d54"]]},{"id":"63b0adfd4cb0bb20","type":"mqtt in","z":"9937abf261414bf1","name":"mqtt notification","topic":"esp32/notification","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":280,"wires":[["6687c99ea8340336"]]},{"id":"6687c99ea8340336","type":"ui_toast","z":"9937abf261414bf1","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"ada pencuri!!!!!!!","name":"notification","x":490,"y":280,"wires":[]},{"id":"7be6593276ab3540","type":"ui_button","z":"9937abf261414bf1","name":"","group":"61285987.c20328","order":1,"width":0,"height":0,"passthru":false,"label":"start","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"start","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":100,"wires":[["5f5a3c257462ad67"]]},{"id":"5f5a3c257462ad67","type":"mqtt out","z":"9937abf261414bf1","name":"start","topic":"esp32/start","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":490,"y":100,"wires":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"}]